.notification {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.badge {
  background: var(--color-error);
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -8px;
}
